    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/pragver.css' | prepend: site.baseurl }}">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="{{ '/assets/images/favicon-16x16.png' | prepend: site.baseurl }}" type="image/png" sizes="16x16">
    <link rel="icon" href="{{ '/assets/images/favicon-32x32.png' | prepend: site.baseurl }}" type="image/png" sizes="32x32">
    <link rel="icon" href="{{ '/assets/images/favicon-64x64.png' | prepend: site.baseurl }}" type="image/png" sizes="64x64">
    <link rel="icon" href="{{ '/assets/images/favicon-128x128.png' | prepend: site.baseurl }}" type="image/png" sizes="64x64">
    <link rel="icon" href="{{ '/assets/images/favicon-180x180.png' | prepend: site.baseurl }}" type="image/png" sizes="180x180">
    <link rel="apple-touch-icon" href="{{ '/assets/images/favicon-180x180.png' | prepend: site.baseurl }}" type="image/png" sizes="180x180">
